.main_content {
    margin-left: 377px; /* Adjust margin to account for side element width */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.content {
    margin: 50px 0px 50px 100px;
}

.content > div {
    margin: 80px 0px;
}
