.main {
    margin-left: 377px;
}

.main_content {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: scroll;
}

.content {
    margin-left: 400px;
    color: white;
    padding-top: 50px;
}

.main_content::-webkit-scrollbar {
    display: none;
}

.main_content {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.main_content div {
    display: flex;
    flex-direction: row;
}

.poster {
    object-fit: contain;
    width: 355.859px;
    margin-left: 20px;
    transition: transform 450ms;
    border-radius: 5px;
    padding: 50px 0;
}

.poster img {
    width: 150px;
    border-radius: 5px;
}

/* Add these styles to your PopularMovies.module.css */

.scrollButton {
    background-color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.scrollButton:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.scrollButton:focus {
    outline: none;
}

.scrollContainer {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    flex-direction: row;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: calc(100% - 80px);
    margin: 0 40px;
}

.scrollContainer::-webkit-scrollbar {
    display: none;
}

.leftButton {
    left: 0;
}

.rightButton {
    right: 0;
}

.main_content {
    position: relative;
}
