.main_content {
    margin-left: 377px; /* Adjust margin to account for side element width */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
