.main {
    margin-left: 377px;
}

.main_content {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: scroll;
}

.content {
    margin-left: 400px;
    color: white;
    padding-top: 50px;
}

.main_content::-webkit-scrollbar {
    display: none;
}

.main_content {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.main_content div {
    display: flex;
    flex-direction: row;
}

.poster {
    object-fit: contain;
    width: 355.859px;
    margin-left: 20px;
    transition: transform 450ms;
    border-radius: 5px;
    padding: 50px 0;
}

.poster img {
    width: 150px;
    border-radius: 5px;
}
