.main_content {
    margin-left: 377px; /* Adjust margin to account for side element width */
    flex-direction: column;
    background-color: #050505;
}

/* .caption {
    color: orange;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    padding-top: 600px;
} */

.heart {
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    /* margin-right: 20px; */
}

.heart img {
    width: 30px;
    height: 30px;
}

.banner {
    margin-left: 377px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    margin: 50px 0px;
    cursor: pointer;
    height: 320px;
    width: 94%;
}
