.main_content {
    margin-left: 400px; /* Adjust margin to account for side element width */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.btn {
    padding: 5px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s;
}

.btn:hover {
    background-color: #333;
}

.heart {
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    margin-right: 20px;
}

.heart img {
    width: 30px;
    height: 30px;
}

.title {
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.shade {
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, rgba(0, 0.3, 0.5, 0.7), transparent);
}

.topic {
    color: white;
    margin-top: 20px;
    text-align: center;
}

.gridContainer {
    background: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.gridContainer > div {
    padding: 20px;
    color: white;
}

.gridContainer h4 {
    color: orange;
}

.gridContainer p,
.gridContainer h3 {
    margin: 0;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.trailer {
    position: fixed; /* Use fixed positioning to cover the full viewport */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it overlays other content */
}
