.main_content {
	margin-left: 377px; /* Adjust margin to account for side element width */
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn {
	padding: 5px 20px;
	background-color: orange;
	color: black;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	transition: all 0.3s;
	margin: 10px;
}

.btn:hover {
	background-color: #ff8c00;
}

/* .heart {
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    margin-right: 20px;
}

.heart img {
    width: 30px;
    height: 30px;
} */

.title {
	color: white;
	font-size: 2.5rem;
	font-weight: bold;
	text-align: center;
}

/* .shade {
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, rgba(0, 0.3, 0.5, 0.7), transparent);
} */

.topic {
	color: white;
	margin-top: 20px;
	text-align: center;
}

.gridContainer {
	/* background: black; */
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.gridContainer > div {
	padding: 20px;
	color: white;
}

.gridContainer h4 {
	color: orange;
}

.gridContainer p,
.gridContainer h3 {
	margin: 0;
}

.leftColumn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px;
	margin-left: 30%;
}

.rightColumn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px;
	background-color: #1a1a1a;
	border-radius: 10px;
	margin-right: 30%;
	color: #d3d3d3;
}

.trailer {
	position: fixed; /* Use fixed positioning to cover the full viewport */
	width: 100vw; /* Full viewport width */
	height: 100vh; /* Full viewport height */
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	z-index: 1000; /* Ensure it overlays other content */
}

.trailer div {
	border: 5px solid white;
}

.rightColumn > div {
	padding: 30px;
}

.rightColumn > h5 {
	color: white;
}

.rightTitle {
	display: flex;
	margin: 10px;
}

.rightTitle img,
.rightTitle p {
	margin: 2px;
}

.rightBox > p {
	padding: 10px;
	margin: 5px;
	background-color: #333;
	border-radius: 5px;
	font-size: 13px;
	font-weight: 200;
}

.rightBox {
	display: flex;
	flex-wrap: wrap;
}

.topics {
	padding-top: 20px;
}

@media screen and (max-width: 768px) {
	.main_content {
		margin-left: 0;
		padding: 0;
		width: 100%;
	}

	.topic {
		padding-top: 0;
	}

	.topics {
		padding: 10px;
	}

	.topic > h4 {
		font-size: small;
		font-weight: 700;
	}

	.gridContainer {
		grid-template-columns: 1fr;
	}

	.gridContainer > div {
		margin: 0;
		padding: 10px;
	}

	.leftColumn {
		margin-left: 0;
	}

	.rightColumn {
		margin-right: 0;
	}
}
