.sidebar {
    min-width: 400px;
    background-color: #000002;
    color: white;
    min-height: 100vh;
    padding: 1rem;
    position: fixed;
    z-index: 100;
}

.gap {
    min-width: 400px;
    min-height: 100vh;
}

.navLink {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0;
    display: block;
    border-radius: 5px;
}

.navLink:hover {
    background-color: #495057;
}

.pTag {
    font-size: 10px;
    margin: 35px 50px;
}

.logo {
    text-align: center;
    margin-bottom: 1.2rem;
}

.navLink img {
    padding: 0 1rem;
}

.navLink:hover {
    color: orange;
}
